---
const slides = [
  {
    title: "Kanban Board",
    description: `
      Front-end project providing visualizations and interaction with kanban board.
      Kanban board visually depict work at various stages of a process using cards to represent work items and columns to represent each stage of the process. Cards are moved between the columns to show progress and to help coordinate teams performing the work.
      `,
    anchorLink: "#kanban-board",
    gitHubLink: "https://github.com/GrishaAngelovGH/kanban-board",
    liveDemoLink: "https://kanban-board-grishaangelovs-projects.vercel.app/",
  },
  {
    title: "Map UI Visualization",
    description: `
      Map UI Visualization project is a solution for dynamically showcasing 
      geographic data, locations, routes, and visual summaries. It provides a versatile 
      platform for users to explore detailed map, interact with London-specific geographical 
      features, and delve into various specialized visualizations.
    `,
    anchorLink: "#map-ui",
    gitHubLink: "https://github.com/GrishaAngelovGH/map-ui",
    liveDemoLink: "https://map-ui-grishaangelovs-projects.vercel.app/",
  },
  {
    title: "Inventory Management System",
    description: `
      The inventory management system is an all-in-one platform designed to optimize inventory 
      tracking and management. It provides an intuitive dashboard with key metrics and 
      visualizations, tools for managing product categories and individual products, 
      sales tracking features, and reporting capabilities.   
      `,
    anchorLink: "#inventory-management-system",
    gitHubLink:
      "https://github.com/GrishaAngelovGH/inventory-management-system",
    liveDemoLink:
      "https://inventory-management-system-grishaangelovs-projects.vercel.app/",
  },
  {
    title: "JWT Authentication and Authorization App",
    description: `
      A demo application showcasing JWT-based authentication and authorization, with a Node.js 
      backend and a ReactJS frontend for secure route protection and session management.
      The app streamlines secure access with server-side credential validation, JWT creation, 
      and endpoint protection. On the client side, it provides a public login page, JWT-protected routes, user logout, and secure data fetching.
      `,
    anchorLink: "#jwt-auth-and-authz",
    gitHubLink: "https://github.com/GrishaAngelovGH/jwt-auth-and-authz-demo",
  },
  {
    title: "Motion Design for the Web Course",
    description: `
      This course equips developers with the skills to seamlessly integrate motion design 
      into web projects. Covering tools like CSS, JavaScript, GSAP, SVG, and Lottie, it offers 
      practical exercises such as creating video backgrounds, scroll-triggered animations, and 
      parallax effects. With an emphasis on real-world applications and performance optimization, 
      this course is ideal for enhancing user experience and bringing dynamic interactivity to modern web designs.
      `,
    anchorLink: "#web-motion-course",
    gitHubLink: "https://github.com/GrishaAngelovGH/web-motion-course",
  },
];
---

<div
  id="hero-carousel"
  data-bs-interval="5000"
  class="container carousel carousel-fade"
  data-bs-ride="carousel"
>
  {
    slides.map((v, i) => (
      <div class={`carousel-item ${i === 0 ? "active" : ""}`}>
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">{v.title}</h2>
          <div class="animate__animated animate__fadeInUp">
            <p>{v.description}</p>
            <p>
              Read more detailed description about implemented features and used
              technologies in the section below.
            </p>
          </div>

          <div class="d-flex flex-column flex-md-row gap-0 gap-md-5">
            <a
              href={v.anchorLink}
              class="btn-get-started animate__animated animate__fadeInUp scrollto"
            >
              Read More
            </a>
            <a
              href={v.gitHubLink}
              target="_blank"
              class="btn-get-started animate__animated animate__fadeInUp scrollto"
            >
              View on GitHub
            </a>
            {v.liveDemoLink && (
              <a
                href={v.liveDemoLink}
                target="_blank"
                class="btn-get-started animate__animated animate__fadeInUp scrollto"
              >
                Live Demo
              </a>
            )}
          </div>
        </div>
      </div>
    ))
  }

  <a
    class="carousel-control-prev"
    href="#hero-carousel"
    role="button"
    data-bs-slide="prev"
  >
    <span
      class="carousel-control-prev-icon bi bi-chevron-left"
      aria-hidden="true"
    >
    </span>
  </a>

  <a
    class="carousel-control-next"
    href="#hero-carousel"
    role="button"
    data-bs-slide="next"
  >
    <span
      class="carousel-control-next-icon bi bi-chevron-right"
      aria-hidden="true"
    >
    </span>
  </a>
</div>
